/*hjemmesiden*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=PT+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-family: 'Open Sans';
    font-size: 18px;
}


.navbar {
    display: flex;
    margin: right auto;
    float: right;
    }

    .navbar nav {
        display: block;
        padding-right: 12px;
    }
    

    .navbar a {
        color: white;
        font-size: 0.9rem;
        font-weight: bold; 
        text-decoration: none;
        line-height: 60px;
        padding: 0.4em 0.9em;
        border: 2px solid;
        border-color: white;
        border-radius: 20px;
        margin: 9px;
        transition: 0.3s;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    .navbar a:hover {
        color:black;
        background: rgb(177, 108, 77);
        border-color: black;
        
    }

.container {
    width: 100%;
    height: 90%;
    max-width: 1200px; 
    display: flex;
    justify-content: left;
    text-align: left;
    align-items: center;
    margin: 0 auto;
}

.container .hero-text h1 {
    font-size: 3rem;
    margin-bottom: 0.3rem;
}

.container .hero-text h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.container .hero-text p {
    font-family: 'PT Sans';
    font-size: 1.2rem;
    max-width: 70%;
    margin: 0 auto;
    margin-left: 0;
}

.container .hero-text a {
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
    background-color: lightgray;
    display: inline-block;
    border: 2px solid;
    border-radius: 10px;
    padding: 0.5em 1.2em;
    margin-top: 1rem;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.container .hero-text a:hover {
    background: rgb(177, 108, 77);
    color: black;
}

.container .bilde-credit p {
    opacity: 30%;
    color: brown;
    font-size: 1.0rem;
    margin-top: 0.5rem;
}




/*topical siden*/

/*gjør siden responsive og fører til at skjermen tilpasser uliker skjermer. */
@media all and (min-width: 800px) { 
    .topical {
    font-size: 10px;
    background-image: url(/bilder/topical.jpg)

}


p{ /*sørger for at paragraf skriften skal ha liten skrift*/
    font-size: small;
}
/*gjør også siden responsive og fører til at skjermen tilpasser uliker skjermer. */


/*endrer på plasseringen av teksten*/
.container #text {
    margin-top: 20px;
}
/*h1 tittel får en høyre plassering*/
h1{
    float: right;
}

/* en footer med diverse justeringer*/
.footer{
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000d1a;
  color: white;
  text-align: center;
}

.topical{ /* class gitt bakgrunnsbilde for å gjøre eventuelle justeringer*/
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.350),rgba(0, 0, 0, 0.350)), url('/bilder/topical.jpg') no-repeat center / cover ;
    color: white;
    /*  bilde hentet fra https://wallpaperaccess.com/4k-tech*/
}


.teknologi{  /*gitt class til det ene bilde for å gjøre kun justeringer på det*/
    float: right;
    margin-right: 20%;
}

.footer a {
    color: white; /*gir hyperlenkene i footeren en hvit farge framfor blå, for å skape en god kontrast*/
}



.science { /*gitt class til det ene bilde for å gjøre kun justeringer på det*/
    float: right;
    margin-right: 20%;
}
}