

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=PT+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-family: 'Open Sans';
    font-size: 18px;
}

#hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.350),rgba(0, 0, 0, 0.350)), url('./bilder/welcome.jpg') no-repeat center / cover ;
    color: white;
}

.navbar {
    display: flex;
    margin: right auto;
    float: right;
    }

    .navbar nav {
        display: block;
        padding-right: 12px;
    }
    

    .navbar a {
        color: white;
        font-size: 0.9rem;
        font-weight: bold; 
        text-decoration: none;
        line-height: 60px;
        padding: 0.4em 0.9em;
        border: 2px solid;
        border-color: white;
        border-radius: 20px;
        margin: 9px;
        transition: 0.3s;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    .navbar a:hover {
        color:black;
        background: rgb(177, 108, 77);
        border-color: black;
        
    }

.container {
    width: 100%;
    height: 90%;
    max-width: 1200px; 
    display: flex;
    justify-content: left;
    text-align: left;
    align-items: center;
    margin: 0 auto;
}

.container .hero-text h1 {
    font-size: 3rem;
    margin-bottom: 0.3rem;
}

.container .hero-text h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.container .hero-text p {
    font-family: 'PT Sans';
    font-size: 1.2rem;
    max-width: 70%;
    margin: 0 auto;
    margin-left: 0;
}

.container .hero-text a {
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
    background-color: lightgray;
    display: inline-block;
    border: 2px solid;
    border-radius: 10px;
    padding: 0.5em 1.2em;
    margin-top: 1rem;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.container .hero-text a:hover {
    background: rgb(177, 108, 77);
    color: black;
}

.container .bilde-credit p {
    opacity: 30%;
    color: brown;
    font-size: 1.0rem;
    margin-top: 0.5rem;
}


@media only screen and (max-width: 768px) {
    html {
        font-size: 10px;
    }

}

/* Accessibility page*/

/* teksten*/
#text {
    margin-top: auto;
   margin-bottom: auto;
    text-align: center;
    font-size: medium;

}

/* bakgrunnsbilde (husk credit bilde)*/
.access{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.350),rgba(0, 0, 0, 0.350)), url("bilder/whiteb.jpg") no-repeat center / cover ;
    color: white;
}

/* bildene i en rad*/

.column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  } 

  .bilde-credit-acc{
    text-align: right;
    font-size: medium;
  }
